<div class="p-10 flex items-center gap-8">
  <app-avatar class="size-6" key="PS"/>
  <app-avatar key="MB"/>
  <app-avatar class="size-20" key="KR"/>
  <app-avatar class="size-32" key="NL"/>
</div>
<div class="p-10 flex items-center gap-8">
  <app-avatar class="size-6" key="PS" src="https://avatar.iran.liara.run/public/37"/>
  <app-avatar key="MB" src="https://avatar.iran.liara.run/public/36"/>
  <app-avatar class="size-20" key="KR" src="https://avatar.iran.liara.run/public/35"/>
  <app-avatar class="size-32" key="NL" src="https://avatar.iran.liara.run/public/34"/>
</div>
<div class="p-10 flex items-center gap-8">
  <app-avatar presenceIndicator="offline"
              class="size-6" key="PS" src="https://avatar.iran.liara.run/public/37"/>
  <app-avatar presenceIndicator="offline"
              key="MB" src="https://avatar.iran.liara.run/public/36"/>
  <app-avatar presenceIndicator="online"
              class="size-20" key="KR" src="https://avatar.iran.liara.run/public/35"/>
  <app-avatar presenceIndicator="online"
              class="size-32" key="NL" src="https://avatar.iran.liara.run/public/34"/>
</div>

<div class="p-10 flex items-center gap-8">
  <app-avatar class="size-6" key="PS" preset="initials"/>
  <app-avatar key="MB" preset="initials"/>
  <app-avatar class="size-20" key="KR" preset="initials"/>
  <app-avatar class="size-32" key="NL" preset="initials"/>
</div>
<div class="p-10 flex items-center gap-8">
  <app-avatar class="size-6" key="PS" preset="initials" src="https://avatar.iran.liara.run/public/37"/>
  <app-avatar key="MB" preset="initials" src="https://avatar.iran.liara.run/public/36"/>
  <app-avatar class="size-20" key="KR" preset="initials" src="https://avatar.iran.liara.run/public/35"/>
  <app-avatar class="size-32" key="NL" preset="initials" src="https://avatar.iran.liara.run/public/34"/>
</div>
<div class="p-10 flex items-center gap-8">
  <app-avatar presenceIndicator="offline"
              class="size-6" key="PS" preset="initials" src="https://avatar.iran.liara.run/public/37"/>
  <app-avatar presenceIndicator="offline" preset="initials"
              key="MB" src="https://avatar.iran.liara.run/public/36"/>
  <app-avatar presenceIndicator="online" preset="initials"
              class="size-20" key="KR" src="https://avatar.iran.liara.run/public/35"/>
  <app-avatar presenceIndicator="online" preset="initials"
              class="size-32" key="NL" src="https://avatar.iran.liara.run/public/34"/>
</div>
